{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="content">
            <img src="{{  article.image }}" alt="news">
           <p>{{ article.content }}</p>
        </div>
    </article>

        <section id="commentaires">
            {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }}
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
{% endblock %}